*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    color: #293264;
    font-family: "Karla", sans-serif;
}

main.homepage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.homepage > h1{
    margin: 0;
}

main.homepage > p{
    margin: 1em 0 2em;
}

main.homepage > button{
    background-color: #4D5B9E;
    padding: 1em 4em;
    color: #F5F7FB;
    border: none;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.top-bubble{
    position: absolute;
    top:0;
    right: 0;
}

.bottom-bubble{
    position:relative;
    bottom: 0;
    left: 0;
}

main.quizpage{
    margin: 5.2em;
}

div.options{
    display: flex;
    gap: 0.75em;
}
/* Make radio looks like button */
div.option input[type="radio"]{
    opacity: 0;
    position:fixed;
    width: 0;
}

div.option label{
    cursor: pointer;
    display: inline-block;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 0.5em 1em;
}

div.option input[type="radio"]:checked+label {
    background-color: #D6DBF5;
    border: none;
}
/*  */

hr{
    color:#DBDEF0;
    margin-block: 2em;
}

.check-answers-btn{
    margin: 0 auto;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10px;
    border: none;
    padding: 1em 1.75em;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}